.cabeçalho{background-color: #161515d0; color: rgba(248, 243, 240, 0.76); display: flex; justify-content: space-around;}
.imagem-logo{width: 200px;}
.cabeçalho-lista{display: inline-block; margin: 0 16px;}
.site{background-color:rgba(253, 253, 253, 0.788); color:beige (131, 92, 48);}
.imagem-café{width: 180px; height: 130px;}
.imagem-div{display: inline-block;}
.vendas{text-align: center; color:rgb(128, 61, 22)} 
.rodape{background-color: #74634ee0; color: rgb(0, 0, 0); display: flex; justify-content: space-around;}
.titulo-comida{width: 750px; height: 380px;}