.cabeçalho{background-color: #fc926ca1; color: rgba(230, 102, 102, 0.514); display: flex; justify-content: space-around;}
.imagem-logo{width: 200px;}
.cabeçalho-lista{display: inline-block; margin: 0 16px;}
.site{background-color:antiquewhite; color:beige (131, 92, 48);}
